<h2 class="content-block iranyekan text-right">مدیریت فرم ها</h2>

<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="false"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  [rtlEnabled]="true"
  height="79vh"
  [hoverStateEnabled]="true"
  [rowAlternationEnabled]="true">

  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-scrolling mode="infinite"></dxo-scrolling>
  <dxo-filter-row [visible]="false"></dxo-filter-row>

  
  <dxi-column caption="#" dataField="id" dataType="string" [hidingPriority]="1">
  </dxi-column>
  <dxi-column caption="عنوان فرم" dataField="title" dataType="string" [hidingPriority]="9">
  </dxi-column>
  <dxi-column caption="دسته بندی" dataField="category" dataType="string" [hidingPriority]="5">
  </dxi-column>
  <dxi-column caption="سال مالی" dataField="fiscalYear" dataType="string" [hidingPriority]="7">
  </dxi-column>
  <dxi-column caption="دوره مالی" dataField="fiscalPeriod" dataType="string" [hidingPriority]="6">
  </dxi-column>  
  <dxi-column caption="ویرایش کننده" dataField="editor" dataType="string" [hidingPriority]="2">
  </dxi-column>                        
  <dxi-column caption="تاریخ ایجاد" dataField="creatingDate" dataType="date" format='yyyy/MM/dd' width="100" [hidingPriority]="4">
  </dxi-column>                                  
  <!-- 
  <dxi-column caption="ناظر" dataField="validator" dataType="string" [hidingPriority]="0">
  </dxi-column>      
  
  <dxi-column caption="پیوست به" dataField="correctiveCode" dataType="string" [hidingPriority]="0">
  </dxi-column>  
  -->
  <dxi-column caption=" " dataField="status" cellTemplate="diffCellTemplate" [hidingPriority]="8"></dxi-column>
  <dxi-column caption="" cellTemplate="diffCellTemplate2" [calculateCellValue]="buttonsValidatior" [hidingPriority]="3"></dxi-column>
  
  <div *dxTemplate="let d of 'diffCellTemplate'">
    <div class="item" *ngIf="d.value == 'در انتظار تایید'">
        <span class="badge alert-primary px-2 rounded-pill" placement="top" [title]="d.value">{{d.value}}</span>
    </div>
    <div class="item" *ngIf="d.value == 'تایید شده'">
        <span class="badge alert-success px-2 rounded-pill" placement="top" [title]="d.value">{{d.value}}</span>
    </div>
    <div class="item" *ngIf="d.value == 'نیازمند ویرایش'">
        <span class="badge alert-danger px-2 rounded-pill" placement="top" [title]="d.value">{{d.value}}</span>
    </div>
  </div>

  <div *dxTemplate="let d of 'diffCellTemplate2'">
    <div class="item">
        <dx-button 
            icon="check" 
            stylingMode="text"
            type="success"
            id="description"
            [visible] = "d.value[1] == 'در انتظار تایید'"
            class="ml-1">
        </dx-button> 
        <dx-button 
            icon="close" 
            stylingMode="text"
            type="danger"
            id="description"
            [visible] = "d.value[1] == 'در انتظار تایید'"
            class="ml-1">
        </dx-button>                                                                                
        <dx-button 
            icon="info" 
            stylingMode="text"
            type="success"
            id="description"
            (onClick)="showDescription(d.value[0])" 
            class="ml-1">
        </dx-button> 
        <dx-button 
            icon="comment" 
            stylingMode="text" 
            type="default"
            class="ml-1">
        </dx-button>
        <dx-button 
            (onClick)="goToLink(d.value[2])"
            icon="download" 
            stylingMode="text" 
            type="danger"
            class="ml-1">
        </dx-button>
        <dx-button 
            icon="fullscreen" 
            stylingMode="text" 
            type="normal"
            class="ml-1">
        </dx-button>
    </div>
  </div>
</dx-data-grid>


<dx-popup
    [maxWidth]="400"
    [height]="250"
    [showTitle]="true"
    [title]="popup2Title"
    [dragEnabled]="false"
    [showCloseButton]="true"
    container=".dx-scrollview"
    [rtlEnabled] = "true"
    [(visible)]="popupVisible2"
>
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <p class="text-right p-3">
                {{popup2Content || 'نظری ثبت نشده است'}}
            </p>
        </dx-scroll-view>

    </div>
</dx-popup>