<h2 class="content-block iranyekan text-right">سامانه جامع مالی</h2>
<div class="content-block dx-card wide-card">
    <!--The content below is only a placeholder and can be replaced.-->
    <section class="estelam">
        <div class="container-fluid pb-3">
            <div class="row" dir="rtl">
                <div class="col-12 text-center d-flex p-0 btn-box">
                    <dx-button 
                        class="iranyekan" 
                        stylingMode="contained" 
                        type="default" 
                        text="الصاق فرم" 
                        icon="add"
                        (onClick)="showInfo()"
                        [rtlEnabled]="true">
                    </dx-button>
                    <div class="dx-field mr-auto" [hidden]="user.PositionId!=1">
                        <div class="dx-field-label">نوع فرم تعیین کنید (فقط 1و2و3)</div>
                        <div class="dx-field-value text-center">
                          <dx-text-box stylingMode="filled" [(value)]="user.categoryCode"></dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field mr-auto" [hidden]="user.PositionId!=2">
                        <p class="py-3 text-muted mb-3 pl-2">
                            <small>
                                نوع فرم قابل الصاق: {{formType}}
                            </small>
                        </p>
                    </div>
                </div>

                <div class="col-12 iranyekan px-0">
                    <dx-data-grid 
                        id="gridContainer" 
                        height="68vh"
                        [dataSource]="dataSource" 
                        keyExpr="id"
                        [hoverStateEnabled]="true"
                        [columnHidingEnabled]="true"
                        [rowAlternationEnabled]="true"
                        [showColumnLines]="false"
                        [showRowLines]="false"
                        [autoNavigateToFocusedRow]="true"
                        [allowColumnReordering]="true"
                        [allowColumnResizing]="true"
                        [columnAutoWidth]="true"
                        [showBorders]="false"
                        [remoteOperations]="true" 
                        [rtlEnabled]="true">

                        <dxi-column caption="#" dataField="id" dataType="string" [hidingPriority]="3">
                        </dxi-column>
                        <dxi-column caption="عنوان فرم" dataField="title" dataType="string" [hidingPriority]="9">
                        </dxi-column>
                        <dxi-column caption="دسته بندی" dataField="category" dataType="string" [hidingPriority]="5">
                        </dxi-column>
                        <dxi-column caption="سال مالی" dataField="fiscalYear" dataType="string" [hidingPriority]="8">
                        </dxi-column>
                        <dxi-column caption="دوره مالی" dataField="fiscalPeriod" dataType="string" [hidingPriority]="7">
                        </dxi-column>

                        <!-- 
                        <dxi-column caption="ویرایش کننده" dataField="editor" dataType="string" [hidingPriority]="0">
                        </dxi-column>                         
                        -->
                        
                        <dxi-column caption="تاریخ ایجاد" dataField="creatingDate" dataType="date" format='yyyy/MM/dd' width="100" [hidingPriority]="4">
                        </dxi-column>                                  
                        <dxi-column caption="ناظر" dataField="validator" dataType="string" [hidingPriority]="1">
                        </dxi-column> 

                        <!-- 
                        <dxi-column caption="پیوست به" dataField="correctiveCode" dataType="string" [hidingPriority]="1">
                        </dxi-column> 
                        -->

                        <dxi-column caption="وضعیت" dataField="status" width="100" cellTemplate="diffCellTemplate" [hidingPriority]="6"></dxi-column>                                                

                        <dxi-column caption="" cellTemplate="diffCellTemplate2" [calculateCellValue]="buttonsValidatior" [hidingPriority]="2"></dxi-column>

                        <div *dxTemplate="let d of 'diffCellTemplate'">
                            <div class="item" *ngIf="d.value == 'در انتظار تایید'">
                                <span class="badge alert-primary px-2 rounded-pill" placement="top" [title]="d.value">{{d.value}}</span>
                            </div>
                            <div class="item" *ngIf="d.value == 'تایید شده'">
                                <span class="badge alert-success px-2 rounded-pill" placement="top" [title]="d.value">{{d.value}}</span>
                            </div>
                            <div class="item" *ngIf="d.value == 'نیازمند ویرایش'">
                                <span class="badge alert-danger px-2 rounded-pill" placement="top" [title]="d.value">{{d.value}}</span>
                            </div>
                        </div>

                        <div *dxTemplate="let d of 'diffCellTemplate2'">
                            <div class="item">
                                <dx-button 
                                    icon="info" 
                                    stylingMode="text"
                                    (onClick)="showDescription(d.value[0])" 
                                    type="success"
                                    id="description"
                                    class="ml-1">
                                </dx-button>
                                <dx-button 
                                    id="comment"
                                    icon="comment" 
                                    (onClick)="showComment(d.value[0])"
                                    [disabled] = "d.value[1] == 'در انتظار تایید'"
                                    stylingMode="text" 
                                    type="danger"
                                    class="ml-1">
                                </dx-button>    
                                <dx-button 
                                    icon="upload" 
                                    [disabled] = "d.value[1] == 'تایید شده'"
                                    stylingMode="text" 
                                    type="default"
                                    class="ml-1"
                                    (onClick)="showInfo(d.value[0])">
                                </dx-button>                                                                   
                                <dx-button 
                                    icon="fullscreen" 
                                    stylingMode="text" 
                                    type="normal"
                                    class="ml-1"
                                    (onClick)="getData(d)">
                                </dx-button>
                            </div>
                        </div>

                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-paging [pageSize]="50"></dxo-paging>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </section>
</div>

<dx-popup 
    width="90%" [height]="670" 
    [(visible)]="popupVisible" [showTitle]="false" 
    [closeOnOutsideClick]="!records.length" [rtlEnabled]="true">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
        <div id="longtabs">
            <dx-tabs [dataSource]="longtabs" [rtlEnabled]="true" [selectedIndex]="selectedIndex"
            [focusStateEnabled]="false">
            </dx-tabs>
        </div>
        <section class="step-box step-one" [hidden]="!btnOne">
            <div class="container-fluid py-3">
                <div class="row">
                    <div class="col-12 text-right px-3 " [hidden]="!correctiveId">
                        <p class="pb-0 mb-0">
                            اصلاحیه
                            فرم {{correctiveId}}
                        <p>
                    </div>
                    <div class="col-12 text-center" [hidden]="!(records.length == 0)">
                        <p class="text-right px-3 pt-3">
                            لطفا داده های مربوطه را بارگذاری نمایید.
                            <a href="{{this.slectedCategroy.sample}}" class="btn btn-sm btn-link" type="button">دانلود نمونه قالب مربوطه</a>
                        </p>
                        <input 
                            type="file" #csvReader 
                            name="Upload CSV" id="txtFileUpload" 
                            accept=".csv, .xls, .xlsx" class="custom"
                            (change)="uploadListener($event)" />
                        <label for="txtFileUpload" class="btn-upload my-3">
                          <dx-button 
                            class="" stylingMode="outlined" type="default" 
                            text="بارگذاری فایل" icon="upload" [rtlEnabled]="true">
                          </dx-button>
                        </label>
                    </div>
                    <div class="col-12 text-center px-0" [hidden]="!(records.length > 0)">
                        <div class="w-100 mx-auto ">
                          <p class="text-justify p-3">
                            پیش نمایش چندسطر اولیه داده ها را مشاهده و بررسی نمایید
                            و در صورت صحت ساختار داده ها بر روی دکمه تایید و ادامه کلیک کنید.
                          </p>

                          <dx-data-grid 
                            id="gridContainer2" 
                            [dataSource]="headRecords" 
                            [columnAutoWidth]="true"
                            [hoverStateEnabled]="true"
                            [rowAlternationEnabled]="true"
                            [showColumnLines]="false"
                            [showRowLines]="false"
                            [autoNavigateToFocusedRow]="true"
                            [allowColumnReordering]="true"
                            [allowColumnResizing]="true"
                            [columnAutoWidth]="true"
                            [showBorders]="false"
                            [rtlEnabled]="true"
                            height="59vh"
                            [columnAutoWidth]="true">
                            
                            <dxi-column
                                *ngFor="let item of arrayKey"
                                [dataField]="item.key" 
                                [dataType]="item.type" 
                                [caption]="
                                    (item.key == 'field') ? 'رشته' :
                                    (item.key == 'deferredLossOfCompanyShare') ? '100% خسارت معوق سهم شرکت ' :
                                    (item.key == 'deferredDamagesShareOfInsurer') ? 'خسارت معوق سهم بیمه گران اتکایی' :  
                                    (item.key == 'netBalanceOfCompanyShare') ? 'مانده خالص سهم شرکت' :
                                    (item.key == 'currency') ? 'واحد ارز' :
                                    
                                    (item.key == 'maintenanceShare') ? 'سهم نگهداری ' :
                                    (item.key == 'reinsuranceShare') ? 'سهم اتکایی' :  
                                    (item.key == 'total') ? 'کل' : 
                                    
                                    (item.key == 'subfield') ? 'زیررشته' :
                                    (item.key == 'issueYear') ? 'سال صدور' :
                                    (item.key == 'shareOfDeferredLossOfCompany') ? 'خسارت معوق سهم بیمه ایران' :  
                                    (item.key == 'mandatoryReinsurersShare') ? 'اجباری بیمه گران اتکایی' :
                                    (item.key == 'optionalReinsurersShare') ? 'اختیاری بیمه گران اتکایی' :
                                    (item.key == 'contractualReinsurersShare') ?  'قراردادی بیمه گران اتکایی' :
                                    (item.key == 'totalReinsurersShare') ? 'مجموع سهم بیمه گران اتکایی' :
                                    (item.key == 'netDeferredLossOfCompanyShare') ? 'سهم خالص بیمه ایران' : ''
                                ">
                                <dxo-format 
                                    type="fixedPoint" 
                                    *ngIf="
                                        (item.key == 'deferredLossOfCompanyShare') ||
                                        (item.key == 'deferredDamagesShareOfInsurer') ||
                                        (item.key == 'netBalanceOfCompanyShare') ||

                                        (item.key == 'maintenanceShare') ||
                                        (item.key == 'reinsuranceShare') ||
                                        (item.key == 'total') ||

                                        (item.key == 'shareOfDeferredLossOfCompany') ||
                                        (item.key == 'mandatoryReinsurersShare') ||
                                        (item.key == 'optionalReinsurersShare') ||
                                        (item.key == 'contractualReinsurersShare') ||
                                        (item.key == 'totalReinsurersShare') ||
                                        (item.key == 'netDeferredLossOfCompanyShare')                                         
                                    ">
                                </dxo-format>
                            </dxi-column> 

                            <!-- 
                            <dxi-column
                                *ngFor="let item of arrayKey"
                                [dataField]="item.key" 
                                [dataType]="
                                    (
                                        (item.key == 'ISSUE_DATE') ||
                                        (item.key == 'START_DATE') ||
                                        (item.key == 'END_DATE')
                                    ) ? date : item.type
                                " 
                                [caption]="
                                    (item.key == 'POLICY_NO') ? 'شماره بیمه نامه' :
                                    (item.key == 'PERSON_ID') ? 'شناسه بیمه گزار' :   
                                    (item.key == 'PERSON_NAME') ? 'عنوان بیمه گزار' :
                                    (item.key == 'FIELD_NAME') ? 'رشته' :  
                                    (item.key == 'SUBFIELD_NAME') ? 'زیر رشته' :
                                    (item.key == 'PORVINCE_NAME') ? 'استان' :  
                                    (item.key == 'ISSUE_DATE') ? 'تاریخ صدور' :
                                    (item.key == 'START_DATE') ? 'تاریخ شروع' :  
                                    (item.key == 'END_DATE') ? 'تاریخ پایان' :
                                    (item.key == 'PREMIUM') ? 'حق بیمه' :  
                                    (item.key == 'DUE_DEBT') ? 'مطالبات سررسیدشده' :
                                    (item.key == 'NOT_DUE_DEBT') ? 'مطالبات سررسیدنشده' :
                                    (item.key == 'DAMAGE') ? 'خسارت' :
                                    (item.key == 'OVERDUE_DAMAGE') ? 'خسارت معوق' :  ''              
                                ">
                                <dxo-format 
                                    type="fixedPoint" 
                                    [precision]="0" 
                                    *ngIf="
                                        (item.key == 'PREMIUM') ||
                                        (item.key == 'DUE_DEBT') ||
                                        (item.key == 'NOT_DUE_DEBT') ||
                                        (item.key == 'DAMAGE') ||
                                        (item.key == 'OVERDUE_DAMAGE')
                                    ">
                                </dxo-format>
                            </dxi-column>  
                            -->
                            
                            <dxo-load-panel [enabled]="true"></dxo-load-panel>
                            <dxo-scrolling mode="infinite"></dxo-scrolling>
                          </dx-data-grid>
          
                        </div>
                    </div>
                    <div class="col-12 text-center pt-3" [hidden]="!(records.length > 0)">
                        <dx-button class="next-btn mx-1" stylingMode="conatined" type="success" text="تایید و ادامه" icon="check"
                          [rtlEnabled]="rtlEnabled" (onClick)="submitOne()">
          
                        </dx-button>
                        <dx-button class="reset-btn mx-1" stylingMode="outlined" type="danger" text="بارگذاری مجدد" icon="close"
                          [rtlEnabled]="rtlEnabled" (onClick)="fileReset()">
                        </dx-button>
                    </div>                    
                </div>
            </div>
        </section>
        <section class="step-box step-two" [hidden]="!btnTwo">
            <div class="container-fluid py-3">
                <div class="row">
                    <div class="col-12 text-center px-0" *ngIf="records.length > 0">
                        <div class="w-100 mx-auto ">
                          <p class="text-justify px-3 pt-2 mb-0">
                            اطلاعات فرم را بررسی کنید در صورت درستی اطلاعات فرم روی دکمه تایید و ادامه کلیک کنید، 
                            در غیر اینصورت روی بازگشت کلیک کنید و پس از اصلاح فرم آن را دوباره الصاق کنید.
                          </p>
                          <dx-data-grid 
                            id="gridContainer3" 
                            [dataSource]="records" 
                            [hoverStateEnabled]="true"
                            [rowAlternationEnabled]="true"
                            [showColumnLines]="false"
                            [showRowLines]="false"
                            [autoNavigateToFocusedRow]="true"
                            [allowColumnReordering]="true"
                            [allowColumnResizing]="true"
                            [columnAutoWidth]="true"
                            [showBorders]="false"
                            [rtlEnabled]="true"
                            height="64vh"
                            [remoteOperations]="true">

                            <dxi-column
                                *ngFor="let item of arrayKey"
                                [dataField]="item.key" 
                                [dataType]="item.type" 
                                [caption]="
                                (item.key == 'field') ? 'رشته' :
                                (item.key == 'deferredLossOfCompanyShare') ? '100% خسارت معوق سهم شرکت ' :
                                (item.key == 'deferredDamagesShareOfInsurer') ? 'خسارت معوق سهم بیمه گران اتکایی' :  
                                (item.key == 'netBalanceOfCompanyShare') ? 'مانده خالص سهم شرکت' :
                                (item.key == 'currency') ? 'واحد ارز' :
                                
                                (item.key == 'maintenanceShare') ? 'سهم نگهداری ' :
                                (item.key == 'reinsuranceShare') ? 'سهم اتکایی' :  
                                (item.key == 'total') ? 'کل' : 
                                
                                (item.key == 'subfield') ? 'زیررشته' :
                                (item.key == 'issueYear') ? 'سال صدور' :
                                (item.key == 'shareOfDeferredLossOfCompany') ? 'خسارت معوق سهم بیمه ایران' :  
                                (item.key == 'mandatoryReinsurersShare') ? 'اجباری بیمه گران اتکایی' :
                                (item.key == 'optionalReinsurersShare') ? 'اختیاری بیمه گران اتکایی' :
                                (item.key == 'contractualReinsurersShare') ?  'قراردادی بیمه گران اتکایی' :
                                (item.key == 'totalReinsurersShare') ? 'مجموع سهم بیمه گران اتکایی' :
                                (item.key == 'netDeferredLossOfCompanyShare') ? 'سهم خالص بیمه ایران' : ''              
                                ">
                                <dxo-format 
                                    type="fixedPoint" 
                                    *ngIf="
                                    (item.key == 'deferredLossOfCompanyShare') ||
                                    (item.key == 'deferredDamagesShareOfInsurer') ||
                                    (item.key == 'netBalanceOfCompanyShare') ||

                                    (item.key == 'maintenanceShare') ||
                                    (item.key == 'reinsuranceShare') ||
                                    (item.key == 'total') ||

                                    (item.key == 'shareOfDeferredLossOfCompany') ||
                                    (item.key == 'mandatoryReinsurersShare') ||
                                    (item.key == 'optionalReinsurersShare') ||
                                    (item.key == 'contractualReinsurersShare') ||
                                    (item.key == 'totalReinsurersShare') ||
                                    (item.key == 'netDeferredLossOfCompanyShare')    
                                    ">
                                </dxo-format>
                            </dxi-column> 

                            <!--
                            <dxi-column
                                *ngFor="let item of arrayKey"
                                [dataField]="item.key" 
                                [dataType]="item.type" 
                                [caption]="
                                    (item.key == 'POLICY_NO') ? 'شماره بیمه نامه' :
                                    (item.key == 'PERSON_ID') ? 'شناسه بیمه گزار' :   
                                    (item.key == 'PERSON_NAME') ? 'عنوان بیمه گزار' :
                                    (item.key == 'FIELD_NAME') ? 'رشته' :  
                                    (item.key == 'SUBFIELD_NAME') ? 'زیر رشته' :
                                    (item.key == 'PORVINCE_NAME') ? 'استان' :  
                                    (item.key == 'ISSUE_DATE') ? 'تاریخ صدور' :
                                    (item.key == 'START_DATE') ? 'تاریخ شروع' :  
                                    (item.key == 'END_DATE') ? 'تاریخ پایان' :
                                    (item.key == 'PREMIUM') ? 'حق بیمه' :  
                                    (item.key == 'DUE_DEBT') ? 'مطالبات سررسیدشده' :
                                    (item.key == 'NOT_DUE_DEBT') ? 'مطالبات سررسیدنشده' :
                                    (item.key == 'DAMAGE') ? 'خسارت' :
                                    (item.key == 'OVERDUE_DAMAGE') ? 'خسارت معوق' :  ''              
                                ">
                                <dxo-format 
                                    type="fixedPoint" 
                                    [precision]="0" 
                                    *ngIf="
                                        (item.key == 'PREMIUM') ||
                                        (item.key == 'DUE_DEBT') ||
                                        (item.key == 'NOT_DUE_DEBT') ||
                                        (item.key == 'DAMAGE') ||
                                        (item.key == 'OVERDUE_DAMAGE')
                                    ">
                                </dxo-format>
                            </dxi-column> 
                            -->
                            <dxo-paging [enabled]="false"></dxo-paging>
                            <dxo-editing
                              mode="batch"
                              [allowUpdating]="false"
                              [allowAdding]="false"
                              [allowDeleting]="false"
                              [selectTextOnEditStart]="selectTextOnEditStart"
                              [startEditAction]="startEditAction"
                            >
                            </dxo-editing>

                          </dx-data-grid>
          
                        </div>
                    </div>
                    <div class="col-12 text-center pt-3" >
                        <dx-button class="next-btn mx-1" stylingMode="conatined" type="success" text="ثبت و ادامه" icon="check"
                          [rtlEnabled]="rtlEnabled" (onClick)="submitTwo()" [disabled]="!records.length">
          
                        </dx-button>
                        <dx-button class="reset-btn mx-1" stylingMode="outlined" type="danger" text="بازگشت" icon="back"
                          [rtlEnabled]="rtlEnabled" (onClick)="returnOne()">
          
                        </dx-button>
                    </div>                    
                </div>
            </div>
        </section>
        <section class="step-box step-three" [hidden]="!btnThree">
            <div class="container py-3">
                <div class="row">
                    <div class="col-12 text-center" *ngIf="infoForm">
                        <p class="text-justify mb-0">
                            در صورتی که اطلاعات فرم زیر مورد تایید شماست 
                            ، توضیحات مربوطه را وارد کنید 
                            و روی دکمه ارجاع به ناظر کلیک کنید. 
                            <br/>
                            توجه کنید که در صورت ارجاع به ناظر دیگر امکان ویرایش فایل را نخواهید داشت.
                        </p>
                    </div>
                    <div class="col-12">
                        <dx-form id="form"
                            [formData]="infoForm"
                            [items]="formItem"
                            labelMode="floating"
                            [rtlEnabled]="true"
                            [colCountByScreen]="colCountByScreen"
                        >
                        </dx-form>
                    </div>
                    <div class="col-12 text-center pt-3">
                        <dx-button class="next-btn mx-1" stylingMode="conatined" type="success" text="ارجاع به ناظر" icon="check"
                          [rtlEnabled]="true" (onClick)="submitThree()" [disabled]="!nextBtn">
          
                        </dx-button>
                        <dx-button class="reset-btn mc-1" stylingMode="outlined" type="danger" text="بازگشت" icon="back"
                          [rtlEnabled]="true" (onClick)="returnTwo()">
                        </dx-button>
                    </div>                    
                </div>
            </div>
        </section>
        <section class="step-box step-four" [hidden]="!btnFour">
            <div class="container-fluid py-3">
                <div class="row">
                    <div class="col-12 text-center" *ngIf="infoForm">
                        <p class="text-justify">
                            فرم مورد نظر شما الصاق گردید و در انتظار تایید ناظر قرار دارد
                        </p>
                        <div class="col-12 text-center py-3">
                            <dx-button class="reset-btn mc-1" stylingMode="outlined" type="danger" text="بستن صفحه" icon="back"
                              [rtlEnabled]="true" (onClick)="returnThree()">
                            </dx-button>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </dx-scroll-view>
  </div>
</dx-popup>

<dx-popup
    [maxWidth]="500"
    [height]="250"
    [showTitle]="true"
    [title]="popup2Title"
    [dragEnabled]="false"
    [showCloseButton]="true"
    container=".dx-scrollview"
    [rtlEnabled] = "true"
    [(visible)]="popupVisible2"
>
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <p class="text-right p-3">
                {{popup2Content || 'نظری ثبت نشده است'}}
            </p>
        </dx-scroll-view>
    </div>
</dx-popup>

<dx-popup
    width="90%" [height]="670"
    [showTitle]="true"
    [title]="popupInfoTitle"
    [dragEnabled]="false"
    [showCloseButton]="true"
    [rtlEnabled] = "true"
    [(visible)]="popupVisibleInfo"
>
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            
            <div class="container-fluid ">
                <div class="row">
                    
                    <div class="col-12">
                        <h2 class="content-block iranyekan text-right mx-3 ">مشخصات فرم</h2>
                        <dx-form id="form"
                            [formData]="popupInfo"
                            [items]="formItem2"
                            labelMode="floating"
                            [rtlEnabled]="true"
                            [colCountByScreen]="colCountByScreen"
                        >
                        </dx-form>
                    </div>
                    <div class="col-12 px-0">
                        <h2 class="content-block iranyekan text-right mx-3 px-3">اطلاعات فرم</h2>
                        <dx-data-grid 
                        id="gridContainer3" 
                        [dataSource]="popupInfoFormData" 
                        [hoverStateEnabled]="true"
                        [rowAlternationEnabled]="true"
                        [showColumnLines]="false"
                        [showRowLines]="false"
                        [autoNavigateToFocusedRow]="true"
                        [allowColumnReordering]="true"
                        [allowColumnResizing]="true"
                        [columnAutoWidth]="true"
                        [showBorders]="false"
                        [rtlEnabled]="true"
                        
                        [remoteOperations]="true">

                        <dxi-column
                            *ngFor="let item of arrayKey2"
                            [dataField]="item.key" 
                            [dataType]="item.type" 
                            [caption]="
                            (item.key == 'field') ? 'رشته' :
                            (item.key == 'deferredLossOfCompanyShare') ? '100% خسارت معوق سهم شرکت ' :
                            (item.key == 'deferredDamagesShareOfInsurer') ? 'خسارت معوق سهم بیمه گران اتکایی' :  
                            (item.key == 'netBalanceOfCompanyShare') ? 'مانده خالص سهم شرکت' :
                            (item.key == 'currency') ? 'واحد ارز' :
                            
                            (item.key == 'maintenanceShare') ? 'سهم نگهداری ' :
                            (item.key == 'reinsuranceShare') ? 'سهم اتکایی' :  
                            (item.key == 'total') ? 'کل' : 
                            
                            (item.key == 'subfield') ? 'زیررشته' :
                            (item.key == 'issueYear') ? 'سال صدور' :
                            (item.key == 'shareOfDeferredLossOfCompany') ? 'خسارت معوق سهم بیمه ایران' :  
                            (item.key == 'mandatoryReinsurersShare') ? 'اجباری بیمه گران اتکایی' :
                            (item.key == 'optionalReinsurersShare') ? 'اختیاری بیمه گران اتکایی' :
                            (item.key == 'contractualReinsurersShare') ?  'قراردادی بیمه گران اتکایی' :
                            (item.key == 'totalReinsurersShare') ? 'مجموع سهم بیمه گران اتکایی' :
                            (item.key == 'netDeferredLossOfCompanyShare') ? 'سهم خالص بیمه ایران' : ''              
                            ">
                            <dxo-format 
                                type="fixedPoint" 
                                *ngIf="
                                (item.key == 'deferredLossOfCompanyShare') ||
                                (item.key == 'deferredDamagesShareOfInsurer') ||
                                (item.key == 'netBalanceOfCompanyShare') ||

                                (item.key == 'maintenanceShare') ||
                                (item.key == 'reinsuranceShare') ||
                                (item.key == 'total') ||

                                (item.key == 'shareOfDeferredLossOfCompany') ||
                                (item.key == 'mandatoryReinsurersShare') ||
                                (item.key == 'optionalReinsurersShare') ||
                                (item.key == 'contractualReinsurersShare') ||
                                (item.key == 'totalReinsurersShare') ||
                                (item.key == 'netDeferredLossOfCompanyShare')    
                                ">
                            </dxo-format>
                        </dxi-column> 

                        <dxo-paging [enabled]="false"></dxo-paging>
                        <dxo-editing
                          mode="batch"
                          [allowUpdating]="false"
                          [allowAdding]="false"
                          [allowDeleting]="false"
                          [selectTextOnEditStart]="selectTextOnEditStart"
                          [startEditAction]="startEditAction"
                        >
                        </dxo-editing>

                      </dx-data-grid>                        
                    </div>
                </div>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>