
<div class="text-center py-5 py-md-0 pb-md-4">
  <img src="../../../../assets/images/logo.png" class="mx-auto px-auto" width="120px" alt="">
  <h6 class="login-title text-center font-weight-bold">سامانه جامع مالی بیمه ایران</h6>
</div>
<form class="login-form" (submit)="onSubmit($event)">
  <dx-form [formData]="formData" [disabled]="loading">

    <dxi-item dataField="email" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'رایانامه', mode: 'text', rtlEnabled: true, cssClass:'item-with-validation' }">
      <dxi-validation-rule type="required" message="رایانامه خود را وارد کنید"></dxi-validation-rule>
      <dxi-validation-rule type="email" message="رایانامه وارد شده معتبر نیست"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="password" editorType="dxTextBox"
      [editorOptions]="{ stylingMode: 'filled', placeholder: 'گذرواژه', mode: 'password', rtlEnabled: true, cssClass:'item-with-validation' }">
      <dxi-validation-rule type="required" message="گذرواژه خود را وارد کنید"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="rememberMe" editorType="dxCheckBox" 
      [editorOptions]="{ text: 'مرا به خاطر بسپار', elementAttr: { class: 'form-text'} , rtlEnabled: true}">
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item itemType="button">
      <dxo-button-options width="100%" type="default" text="ورود به حساب کاربری" [useSubmitBehavior]="true">
      </dxo-button-options>
    </dxi-item>

    <dxi-item>
      <div class="link">
        <a routerLink="/reset-password">گذرواژه خود را فراموش کرده ام
        </a>
      </div>
    </dxi-item>

    <ng-container *dxTemplate="let item of 'signInTemplate'">
      <span class="dx-button-text">
        <ng-container *ngIf="loading; else notLoading">
          <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
        </ng-container>
        <ng-template #notLoading>سامانه جامع مالی بیمه ایران</ng-template>
      </span>
    </ng-container>

  </dx-form>
</form>
