<h2 class="content-block iranyekan text-right">حساب کاربری</h2>

<div class="content-block p-4 dx-card wide-card text-right d-flex align-middle align-item-center" dir="rtl">
  <div class="form-avatar">
    <img [src]="employee.avatarUrl"/>
  </div>
  <div class="user-info align-middle align-item-center my-auto">
      <h6>{{employee.FirstName}} {{employee.LastName}}</h6>
      <span>{{employee.Notes}}</span>
  </div>
 
</div>

<div class="content-block dx-card wide-card p-3">
  <dx-form id="form"
    [rtlEnabled]="true"
    [formData]="employee"
    labelLocation="top"
    [items]="formItem"
    labelMode="floating"
    [colCountByScreen]="colCountByScreen"
  >
  </dx-form>
</div>
