.logos-container {
    margin: 20px 0 40px 0;
    text-align: center;
    svg {
        display: inline-block;
    }
}

.devextreme-logo {
    width: 200px;
    height: 34px;
    margin-bottom: 13px;
}

.angular-logo {
    width: 220px;
    height: 62px;
}

.plus {
    margin: 15px 10px;
    width: 22px;
    height: 22px;
}

:host-context(.screen-x-small) .logos-container {
    svg {
        width: 100%;
        display: block;
        &.plus {
            margin: 0;
        }
    }
}

.content-block {
    font-size: 1rem !important;
}

::ng-deep .dx-card {
    box-shadow: none;
}

::ng-deep * {
    font-family: iranyekan;
}

.text-right {
    text-align: right;
}

.content-block {
    font-size: 1rem !important;
}

::ng-deep * {
    font-family: iranyekan;
}

::ng-deep .dx-popup-content {
    padding: 0;
}

::ng-deep .dx-texteditor-input {
    font-family: 'iranyekan' !important;
}

::ng-deep .dx-field-item-label.dx-field-item-label-location-top {
    text-align: right !important;
}

::ng-deep .dx-toolbar-label {
    font-size: 1.1rem !important;
}

::ng-deep .btn-box .dx-button.dx-button-default {
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    width: 180px;
}

::ng-deep .dx-card {
    box-shadow: none;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    transition: all ease-out 0.3s;
}


/* Track */

::-webkit-scrollbar-track {
    border-radius: 0;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0;
}

::ng-deep .dx-popup-title .dx-toolbar-before * {
    font-size: 14px !important;
}

::ng-deep #chat-window {
    background-color: #bfbfbf26;
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
}

::ng-deep .dx-htmleditor {
    height: 100px;
}

::ng-deep #send {
    float: right;
    margin: 10px 0;
}

::ng-deep .message {
    height: fit-content;
    background-color: inherit;
    min-width: 51%;
    display: inline-block;
    max-width: 90%;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.02);
}

::ng-deep .message .content {
    text-align: right;
    width: fit-content;
}

::ng-deep .message .text {
    font-size: 12px;
    text-align: right;
    line-height: 1.7;
}

::ng-deep .name {
    font-weight: bold;
    font-size: 12px;
}

::ng-deep .date {
    opacity: 0.7;
    font-size: 11px;
}

::ng-deep .photo {
    float: right;
    height: 100%;
    align-items: center;
    vertical-align: middle;
}

::ng-deep .photo>img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

::ng-deep .dx-htmleditor {
    box-shadow: none !important;
    border: 1px solid #bfbfbf26 !important;
    border-radius: 0;
}

::ng-deep .dx-htmleditor-content {
    text-align: right;
}