/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "iranyekan";
  src: url("assets/fonts/iranyekan/eot/iranyekanweblightfanum.eot");
  src: url("assets/fonts/iranyekan/woff/iranyekanweblightfanum.woff") format("woff"),
    url("assets/fonts/iranyekan/ttf/iranyekanweblightfanum.ttf") format("truetype");
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: "iranyekan";
  src: url("assets/fonts/iranyekan/eot/iranyekanwebmediumfanum.eot");
  src: url("assets/fonts/iranyekan/woff/iranyekanwebmediumfanum.woff") format("woff"),
    url("assets/fonts/iranyekan/ttf/iranyekanwebmediumfanum.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iranyekan";
  src: url("assets/fonts/iranyekan/eot/iranyekanwebboldfanum.eot");
  src: url("assets/fonts/iranyekan/woff/iranyekanwebboldfanum.woff") format("woff"),
    url("assets/fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

.iranyekan {
  font-family: "iranyekan";
}
