<div class="user-panel">
  <div class="user-info" dir="rtl">
    <div class="image-container">
      <img [src]="'assets/images/' + user.avatarurl" class="user-image" width="30px" height="30px" alt="">
    </div>
    <div class="user-name">{{user.name}}</div>
  </div>
  <dx-context-menu
    *ngIf="menuMode === 'context'"
    rtlEnabled="true"
    [items]="menuItems"
    target=".user-button"
    showEvent="dxclick"
    width="210px"
    [position]="{ my: 'top center', at: 'bottom center' }"
    cssClass="user-menu">
  </dx-context-menu>
  <dx-list
    *ngIf="menuMode === 'list'"
    class="dx-toolbar-menu-action"
    [items]="menuItems">
  </dx-list>
</div>
